/* drop down styling */
.dropdown:hover .dropdown-menu {
	display: block;
}

/* banner styling */
.hero-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 50px;
  padding-top: 150px;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: transparent;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 15px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 4px solid #ffffff;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.item-cat{
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;
}