html {
  overflow: hidden;
  height: 100%;
}
body{
  font-family: "Didact Gothic", sans-serif !important;
  height: 100%;
  overflow: auto;
  font-size:16px;
}

/* navbar styling */

.navbar-brand {
  font-size: 24px;
}
.dropdown-menu {
  font-size: 16px;
  color: #8558B5;
}
.dropdown {
  font-size: 16px;
}
li.dropdown {
  color: #8558B5;
}
.menu {
  font-size: 16px;
  color: #8558B5;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

/* banner styling */
.hero-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  top: 50px;
  padding-top: 150px;
}
.hero-text {
  text-align: center;
  color: white;
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: transparent;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 4px solid #ffffff;
}
.hero-text button:hover {
  background-color: #555;
  color: white;
}

.img-responsive {
  width: 240px;
  height: 240px;
}

/* footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
}

/*------------------- index.html styling -------------------*/

/* category styling */
.item-cat{
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:100px;
}
.img-cap{
  visibility: hidden;
  color:black;
  text-align: center;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 5px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img__wrap:hover{
  opacity: 0.5;
  visibility: visible;
}
.img__wrap:hover .img-cap{
  visibility: visible;
}

/*------------------ packages.html styling ------------------*/

/* used to display the packages */
section {
  padding-left: 50px;
  padding-top: 75px;
  /* padding so the bottom of the div isn't cut off by the footer */
  padding-bottom: 2175px;
}


/*------------------- contact.html styling -------------------*/

.contact-title{
  padding-top: 100px;
  text-align: center;
}
.contact-container{
  padding-left: 25%;
  padding-right: 25%;
}
.contact-container button{
  color: white;
  background-color: #808080;
  padding-left:15px;
  padding-right:15px;
}

/*-------------------- about.html styling --------------------*/

.about-company{
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.about-contact{
  padding-top: 50px;
  padding-left:175px;
  padding-right:175px;
  /* padding so the bottom of the div isn't cut off by the footer */
  padding-bottom: 100px;
}
