body{
  font-family: "Didact Gothic", sans-serif !important;
  height: 100%;
  overflow: auto;
  font-size:16px;
}
h1{
  font-size: 5vmin;
}
h2{
  font-size: 3.75vmin;
}
h3{
  font-size: 3.25vmin;
}
h6{
  font-size: 2vmin;
}
p{
  font-size: 2.75vmin;
}

/*--------------------- navbar styling ---------------------*/
.navbar-brand {
  font-size: 3.75vmin;
}
.dropdown-menu {
  font-size: 2.75vmin;
  background-color: #8558B5;
}
.dropdown {
  font-size: 2.75vmin;
}
.menu {
  font-size: 2.75vmin;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar{
  background-color: transparent;
  border: none;
}
.navbar .active a{
   background-color: transparent !important;
}
.navbar a {
  color: #fff !important;
}
.affix {
  top: 0;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #8558B5;
  color:white !important;
}
.affix .active a{
  background-color: #6F459C !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.affix a:hover{
  background-color: #9A75C2 !important;
}
.dropdown-menu > li > a:hover{
  background-color: #6F459C;
}
.navbar-right{
  padding-top:5px;
  padding-right:10px;
}

/*--------------------- banner styling ---------------------*/
.hero-image {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 120px;
}
.hero-text {
  text-align: center;
  color: white;
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #8558B5;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.hero-text button:hover {
  background-color: #9A75C2;
}

/*--------------------- footer styling ---------------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 3px;
}

/*------------------- index.html styling -------------------*/

/* category styling */
.item-cat{
  top: -100px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom:100px;
}
.category-header{
  color: #8558B5;
}
.img__wrap:hover{
  opacity: 0.5;
}
.img-cont{
  max-width: 50%;
}

/*------------------ packages.html styling ------------------*/

/* used to display the packages */
section {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  /* padding so the bottom of the div isn't cut off by the footer */
  padding-bottom: 2700px;
}
.packages { 
  margin-top:20px;
}
.packages h1{
  color:#8558B5;
}
.packages img{
  width:85%;
}

/*------------------- contact.html styling -------------------*/

.contact-title{
  padding-top: 100px;
  text-align: center;
}
.contact-container{
  width:75%;
  margin: 0 auto;
}
.contact-container button{
  text-align: center;
  color: white;
}
.contact-container button:hover {
  color:white;
  background-color: #9A75C2;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


/*-------------------- about.html styling --------------------*/

.about-company{
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.about-contact{
  padding-top: 50px;
  padding-left:50px;
  padding-right:50px;
  /* padding so the bottom of the div isn't cut off by the footer */
  padding-bottom: 100px;
}

/*-------------------- cart.html styling --------------------*/

.cart-container{
  padding-top: 100px;
  padding-left:50px;
}
.cart-container h1{
  color:#8558B5;
}
.cart-container button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #8558B5;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cart-container button:hover {
  background-color: #5B5D62;
}

/*-------------------- mobile styling --------------------*/

@media screen and (max-width: 768px) {
  h1{
    font-size: 6vmin;
  }
  h2{
    font-size: 4.75vmin;
  }
  h3{
    font-size: 4.75vmin;
  }
  h6{
    font-size: 2.5vmin;
  }
  p{
    font-size: 4vmin;
  }
/*-------------------- packages.html styling --------------------*/
  .packages img{
    width:100%;
  }
  .packages h1{
    font-size: 6vmin;
  }
  section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    /* padding so the bottom of the div isn't cut off by the footer */
    padding-bottom: 2700px;
  }
    
/*-------------------- index.html styling --------------------*/
}

 